<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/calzones.css" />
<head>
  <title>
    Calzones
  </title>
</head>
<body>
  <section class="appetizers">
    <h1 align="center">Calzones</h1>
      <button type="button" onclick="history.back();" value="Back">Back</button>
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <!-- <div class="col-12 col-sm-6"> -->
        <h3>Chicken Artichoke</h3>
        <p class="price">$13.95</p>
        <p class="descritpion">Roasted Chicken, Artichokes, Spinach, Tomatoes, Ricotta and Mozzarella Cheeses.</p>
        <button class="modal-button" id="show-modal">Learn More</button>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Mushroom Pepperoni and Sausage</h3>
        <p class="price">$13.95</p>
        <p class="descritpion">Mushrooms, Pepperoni, Italian Sausage, Ricotta and Mozzarella Cheeses.</p>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Build Your Own Calzone</h3>
        <p class="price">$13.95</p>
        <p class="descritpion">Choose your favorite three ingredients from the Traditional Style Pizza section. Ricotta and Mozzarella included.</p>
      </div>
      <p class="description">NOTE: All calzones are garnished with Parmesan Cheese and Italian Parsley. Served with a side of Marinara.</p>
    </section>
  </body>
</html>