<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/chalkboard.css" />
<head>
  <title>
    Chalkboard Entrees
  </title>
</head>
<body>
  <section class="appetizers">
    <h1 align="center">Chalkboard Menu</h1>
    <button type="button" onclick="history.back();" value="Back">Back</button>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <!-- <div class="col-12 col-sm-6"> -->
      <h3>Sauteed Brussells Sprouts and Beets</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Roasted Brussels Sprouts, Beets, Red Onion, Toasted Almonds, Golden Raisins, Topped with Goat Cheese.</p>
      <button class="modal-button" id="show-modal">Learn More</button>
    </div>

    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Tomato, Basil And Feta</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Roasted Garlic, Basil and Tomato. Topped with Fresh Basil and Feta Cheese.</p>
    </div>

     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Pesto Primavera</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Pesto, Zucchini, Yellow Squash, Tomato, Mixed Peppers, Red Onion. Topped with Shaved Parmesan and Shaved Carrots.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Garlic Artichokes And Lemon</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Artichokes Hearts, Capers, Sundried Tomatoes, Garlic in a Fresh Lemon Butter Sauce.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Garlic Spinach and Tomato</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Sauteed Spinach, Tomatoes, Garlic topped with Gorgonzola Cheese.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Wild Marsala Mushrooms</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Seasonal Wild Mushrooms sauteed with Marsala Wine, Toasted Walnuts and Topped with Gorgonzola Cheese and Breadcrumbs.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Asparagus Fra Diavolo</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Sauteed Asparagus with a Splash of Tequila and Lime, Topped with Cool Tomato, Jalapeno, Onion and Cilantro</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Pesto Primavera</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Pesto, Zucchini, Yellow Squash, Tomato, Mixed Peppers, Red Onion. Topped with Shaved Parmesan and Shaved Carrots.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>The Pomodoro</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Chopped Pomodoro Tomatoes, Green Onions, Capers, lightly tossed with Extra Virgin Olive Oil and Fresh Garlic. Served with a side of Seasonal Vegetables.</p>
    </div>
  

  </section>

</body>
</html>