<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/desserts.css" />
<head>
  <title>
    Desserts
  </title>
</head>
<body>
<section class="appetizers">
    <h1 align="center">Desserts</h1>
    <button type="button" onclick="history.back();" value="Back">Back</button>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <!-- <div class="col-12 col-sm-6"> -->
      <h3>Tiramisu</h3>
      <p class="price">$7.45</p>
      <p class="descritpion">Lady Finger Sponge Cake soaked in Marsala and Espresso, layered with Mascarpone (Italian Cream Cheese).</p>
      <button class="modal-button" id="show-modal">Learn More</button>
    </div>

    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Zeppoli</h3>
      <p class="price">$8.95</p>
      <p class="descritpion">Fried Dough Balls topped with Honey, Sugar, Cinnamon, Vanilla Ice Cream and Whipped Topping.</p>
    </div>

     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Stuffed Churros</h3>
      <p class="price">$8.95</p>
      <p class="descritpion">Fried Churros stuffed with cream cheese.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>The Big Baked Babbo Pizza Cookie</h3>
      <p class="price">$8.95</p>
      <p class="descritpion">Family Style Pizza Cookie Served with Vanilla Ice Cream with your choice of Strawberry, Chocolate, or Caramel Topping.</p>
      <p>The Original</p>
      <li>Freshly Baked ”Pizza” Chocolate Chip Cookie</li>
      <p>Lemon Cooler Cookie</p>
      <li>Lemon Cookie with White Chocolate and Coconut.</li>
      <p>The White Macadamia Nut</p>
      <li>Freshly Baked ”Pizza” White Macadamia Nut Cookie.</li>
    </div>
  </section>
</body>
</html>