<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/italian_sodas.css" />
<head>
  <title>
    Italian Sodas
  </title>
</head>
<body>
<section class="appetizers">
    <h1 align="center">Italian Sodas</h1>

    <button type="button" onclick="history.back();" value="Back">Back</button>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <!-- <div class="col-12 col-sm-6"> -->
      <h3>Dreamsicle</h3>
      <p class="price">$5.50</p>
      <p class="descritpion">A dreamy Orange cream soda mixed with Sprite, Mandarin-Orange and Vanilla syrups, and a Splash of Cream.</p>
      <button class="modal-button" id="show-modal">Learn More</button>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Hurricane</h3>
      <p class="price">$5.50</p>
      <p class="descritpion">A downpour of Vanilla, Cherry and Mandarin Syrups spun with Sprite and a Splash of Cream.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Raspberry Swirl</h3>
      <p class="price">$5.50</p>
      <p class="descritpion">A Raspberry, Vanilla, Cream Swirl mixed with Sprite and a Splash of Cream.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Verry-Chanilla</h3>
      <p class="price">$5.50</p>
      <p class="descritpion">This is very Cherry Vanilla. A classic mix of Sprite, Cherry and Vanilla Syrups and a Splash of Cream.</p>
    </div>
  </section>
</body>
</html>