<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/kids.css" />
<head>
  <title>
    Kids Stuff
  </title>
</head>
<body>
<section class="appetizers">
    <h1 align="center">Kid's Stuff</h1>

    <button type="button" onclick="history.back();" value="Back">Back</button>
    <p>All kid’s items include a kid’s drink (for kids 12 and under).</p>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <!-- <div class="col-12 col-sm-6"> -->
      <h3>Mini Calzone</h3>
      <p class="price">$7.00</p>
      <p class="descritpion">Cheese or Pepperoni</p>
      <button class="modal-button" id="show-modal">Learn More</button>
    </div>

    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Pasta Marinera</h3>
      <p class="price">$7.00</p>
    </div>

     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Mini 1 Topping Pizza</h3>
      <p class="price">$7.00</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>2 Piece Crispy Chicken</h3>
      <p class="price">$7.00</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Kids Meatball and Spaghetti</h3>
      <p class="price">$7.00</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Kids Chicken Parm Pasta</h3>
      <p class="price">$7.00</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>2 Meatballs and Marinara Sauce</h3>
      <p class="price">$7.00</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Pasta Parmigiana</h3>
      <p class="price">$7.00</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Kids Mac 'N Cheese</h3>
      <p class="price">$7.00</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Kids Alfredo Penne</h3>
      <p class="price">$7.00</p>
    </div>
    <p class="kids-note">NOTE: All Kids Meals are topped with Parmesan Cheese</p>
  </section>

  

  </section>
</body>
</html>