<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/pizzas.css" />
<head>
  <title>
  
  </title>
</head>
<body>
  <section class="appetizers">
    <h1 align="center">Pizza</h1>
    <h1 align="center">11" Personal Pizzas</h1>
    <br />
    <br />
    <h3 align="center">Thin-Crusted or substitute with a 10" Cauliflower Crust for $2.95</h3>
    <button type="button" onclick="history.back();" value="Back">Back</button>
    
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <!-- <div class="col-12 col-sm-6"> -->
      <h3>Bianca</h3>
      <p class="price">$12.50</p>
      <p class="descritpion">Mozzarella, Tomatoes, Spinach, Ricotta, Parmesan, Rosemary and Garlic.</p>
      <button class="modal-button" id="show-modal">Learn More</button>
    </div>

    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Margherita</h3>
      <p class="price">$12.50</p>
      <p class="descritpion">Marinara Sauce, Mozzarella, Tomatoes, Fresh Basil, Roasted Garlic.</p>
    </div>

     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Pepperoni</h3>
      <p class="price">$13.50</p>
      <p class="descritpion">Marinara Sauce, Mozzarella, Pepperoni and Oregano.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Portobello and Goat Cheese Pizza</h3>
      <p class="price">$13.50</p>
      <p class="descritpion">Marinara Sauce, Portobello Mushrooms, Mixed Peppers, Mozzarella, Parmesan and Mild Goat Cheese, topped with Fresh Basil.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Cody's Pepperoni & Bacon</h3>
      <p class="price">$13.50</p>
      <p class="descritpion">Marinara Sauce, Mozzarella, Pepperoni, Bacon.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Chicken Alfredo Pizza</h3>
      <p class="price">$14.50</p>
      <p class="descritpion">Alfredo Sauce, Roasted Chicken, Red Onion, Baked Spaghettini, Mozzarella, Parmesan. KICK IT UP A NOTCH WITH A SPLASH OF BUFFALO SAUCE.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Buffalo Chicken Gorgonzola</h3>
      <p class="price">$14.50</p>
      <p class="descritpion">Roasted Chicken, Buffalo Sauce, Gorgonzola, Mozzarella and Parmesan.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>BBQ Style Chicken</h3>
      <p class="price">$14.50</p>
      <p class="descritpion">BBQ Sauce, Mozzarella Cheese, Roasted Chicken, Red Onions, Cilantro and BBQ Sauce.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Mushroom Pepperoni and Sausage</h3>
      <p class="price">$14.50</p>
      <p class="descritpion">Marinara Sauce, Mozzarella, Mushrooms, Pepperoni, and Sausage.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Mushroom Pepperoni and Sausage</h3>
      <p class="price">$14.50</p>
      <p class="descritpion">Marinara Sauce, Mozzarella, Mushrooms, Pepperoni, and Sausage.</p>
    </div>
     <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Sicilian</h3>
      <p class="price">$14.50</p>
      <p class="descritpion">Italian Sausage, Spicy Capicola Ham, Salami, Fresh Basil, Fresh Oregano, Mozzarella Cheese, Provolone Cheese, Marinara Sauce.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Traditional Cheese</h3>
      <p class="price">$11.50</p>
      <p class="descritpion">Marinara Sauce, Mozzarella Cheese.</p>
    </div>
    <p align="center">Additional ingredients $.95 each.</p>
    <h1 align="center">13" Neopolitan Style Pizzas</h1>
    <br />
    <br />
    <h3 align="center">Thin-Crusted or substitute with a 10" Cauliflower Crust for $2.95</h3>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3><b>New!</b> Greek Garden</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Artichoke, Kalamata Olives, Mozzarella, Red Bell Pepper, Pepperoncini, Red Onion, Feta, EVOO</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3><b>New!</b> Farmhouse</h3>
      <p class="price">$14.95</p>
      <p class="descritpion">Italian Sausage, Bacon, Capicola, Caramelized Onion, Gouda, Fontina, Arugula, EVOO, Alfredo Sauce, Sunny Side Up Egg*</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Fig Jam, Prosciutto & Arugula</h3>
      <p class="price">$14.95</p>
      <p class="descritpion">Italian Sausage, Fig Jam, Gouda, Prosciutto, Arugula, EVOO</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Pesto Pomodoro</h3>
      <p class="price">$14.95</p>
      <p class="descritpion">Pesto, Fresh Mozzarella, Pomodoro Tomatoes, topped with Fresh Basil.</p>
    </div>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3><b>New!</b> White Pizza</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Fresh Spinach, Pomodoro Tomatoes, Mozzarella, Garlic, Alfredo Sauce, topped with Feta.</p>
    </div>
    <p align="center">Additional ingredients $1.25 each.</p>
    <br />
    <br />
    <h1 align="center">16" Traditional Style Pizzas</h1>
    <br />
    <br />
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3>Traditional Style Pizzas 16"</h3>
      <p class="price">$16.95</p>
      <p class="descritpion">All pizzas are extra large and hand tossed</p>
      <br />
      <p>Cheese Pizza <b>$16.95</b></p>
      <p>Each Add'l Topping <b>$1.95</b></p>
      <p>Chicken <b>$5.95</b></p>
      <p>Shrimp* <b>$6.95</b></p>
      <p>Steak†* <b>$6.95</b></p>
      <br/>
      <p><b>Meat Choices:</b> Anchovies, Bacon, Canadian Bacon, Meatball, Mild Andouille Sausage, Pepperoni, Salami, Sausage</p>
      <p><b>Vegetarian Choices:</b> Artichokes, Asparagus, Basil, Black Olives, Broccoli, Cilantro, Extra Cheese, Fresh Garlic, Jalapeño, Kalamata Olives, Mixed Bell Peppers, Mushrooms, Onions, Parmesan, Pineapple, Plum Tomatoes, Ricotta, Rosemary, Spinach, Sun Dried Tomatoes, Tomatoes</p>

      <p align="center">† All Flat Iron Steak is cooked medium to medium-well</p>
      <p align="center">*WARNING: Consuming raw or undercooked meat, eggs or seafood can increase your risk of food borne illness.</p>
    </div>
  </section>

</body>
</html>