<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/protein.css" />
<head>
  <title>
    Protein Bowls
  </title>
</head>
<body>
  <section class="appetizers">
    <h1 align="center">Protein Bowls</h1>
    <button type="button" onclick="history.back();" value="Back">Back</button>
    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <!-- <div class="col-12 col-sm-6"> -->
      <h3><b>New!</b> Chicken</h3>
      <p class="price">$13.95</p>
      <p class="descritpion">Brown Rice, Red Quinoa, Broccoli, Yellow Squash, Zucchini and Carrots topped with a Sweet and Spicy Honey Chili Glaze with your choice of protein</p>
      <button class="modal-button" id="show-modal">Learn More</button>
    </div>

    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3><b>New!</b> Shrimp*</h3>
      <p class="price">$14.95</p>
      <p class="descritpion">Brown Rice, Red Quinoa, Broccoli, Yellow Squash, Zucchini and Carrots topped with a Sweet and Spicy Honey Chili Glaze with your choice of protein.</p>
    </div>

    <div class="booyah-box col-10 offset-1">
      <%= image_tag 'SAD.jpeg', class:"image-resize" %>
      <h3><b>New!</b> Salmon</h3>
      <p class="price">$16.95</p>
      <p class="descritpion">Brown Rice, Red Quinoa, Broccoli, Yellow Squash, Zucchini and Carrots topped with a Sweet and Spicy Honey Chili Glaze with your choice of protein.</p>
    </div>
    
  </section>
</body>
</html>