<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylsheet" href="cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400, 700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/salads.css" />
<head>
  <title></title>
</head>
<body>
<section class="pastas">
      <h1 align="center">Salads</h1>
      
        <button type="button" onclick="history.back();" value="Back">Back</button>
    

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <!-- <div class="col-12 col-sm-6"> -->
        <h3>Caesar Classica</h3>
        <p class="price">$9.50 / $11.95</p>
        <p class="descritpion">Romaine Lettuce, Croutons, Romano Cheese, Caesar Dressing.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Mista</h3>
        <p class="price">$10.50 / $12.95</p>
        <p class="descritpion">Spring Lettuce Mix, Red Onion, Feta Cheese, Golden Raisins, Pine Nuts, Sweet Vinaigrette</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>NEW!</b> Super Chopped Mediterranean</h3>
        <p class="price">$11.50 / $13.95</p>
        <p class="descritpion">Mixed Greens, Red Peppers, Cucumbers, Kalamata Olives, Red Onions, Pepperoncini, Feta Cheese, Balsamic Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Napa Valley</h3>
        <p class="price">$11.50 / $13.95</p>
        <p class="descritpion">Belgian Endive, Spring Mix Lettuce, Candied Pecans, Gorgonzola, Goat Cheese, Sweet Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Roasted Brussels Sprouts Beet Salad</h3>
        <p class="price">$11.95 / $14.50</p>
        <p class="descritpion">Spring Lettuce Mix, Roasted Brussels Sprouts, Beets, Golden Raisins, Red Onions, Sliced Almonds, Goat Cheese, Champagne Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>


        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Roasted Asparagus</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Roasted Asparagus, Romano Cheese, Side Spring Mix Salad.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

        <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Chopped Chicken Salad</h3>
        <p class="price">$11.95 / $14.50</p>
        <p class="descritpion">Mixed Greens, Mozzarella, Salami, Cucumbers, Tomatoes, Grilled Chicken, Pepperoncini, Balsamic Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Steak N' Blue</h3>
        <p class="price">$11.95 / $14.50</p>
        <p class="descritpion">Romaine Lettuce, Tomatoes, Walnuts. Thinly-Sliced Rib Eye Steak*, Sautéed with Mushrooms, Mixed Peppers, and Onions. Topped with Blue Cheese in a Sweet Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Chopped Gorgonzola</h3>
        <p class="price">$11.50 / $14.95</p>
        <p class="descritpion">Mixed Greens, Grilled Chicken, Pears, Apples, Grapes, Tomatoes, Walnuts, Mozzarella, Gorgonzola, Balsamic Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Classic Chicken Caesar</h3>
        <p class="price">$11.95 / $14.95</p>
        <p class="descritpion">Caesar Salad topped with Grilled Chicken or Buffalo Style Chicken, Parmesan Cheese</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>BBQ Crispy Chicken Salad</h3>
        <p class="price">$11.95 / $14.95</p>
        <p class="descritpion">Mixed Greens, Tomatoes, Corn, Red Onion, Bacon, Spicy Jalapeños, Almonds, Mozzarella, Cilantro, Won Tons, Lime Juice, Ranch Dressing.</p>
        <button class="modal-button" id="show-modal">See Details</button>             
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Chopped Wedge</h3>
        <p class="price">$11.50 / $13.95</p>
        <p class="descritpion">Chopped Iceberg and Romaine, warm Bacon, Red Onions, Tomatoes, Bleu Cheese, House Made Ranch. TRY HORSERADISH RANCH FOR A KICK!</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Kale And Quinoa</h3>
        <p class="price">$11.50 / $13.95</p>
        <p class="descritpion">Red Quinoa, Kale, Roasted Cauliflower and Chickpeas, Corn, Roasted Red Peppers, and Asparagus, Feta, Basil Lemon Vinaigrette.</p>
        <button class="modal-button" id="show-modal">See Details</button>
      </div>   
      </div>
    </section>
  </div>
</body>
</html>