<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/sandwiches.css" />
<head>
  <title>
    Sandwiches
  </title>
</head>
<body>
  <section class="appetizers">
      <h1 align="center">Sandwiches</h1>
      
        <button type="button" onclick="history.back();" value="Back">Back</button>
    

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <!-- <div class="col-12 col-sm-6"> -->
        <h3>Sausage And Peppers</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Spicy Italian Sausage, Fire Roasted Red Peppers, Onions, Pomodoro Tomatoes, Provolone. Served on Foccacia.</p>
        <button class="modal-button" id="show-modal">Learn More</button>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Italiano</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Genoa Salami, Ham, Capicola, Tomatoes, Pepperoncini, Provolone and Romano Cheeses, topped with Fresh Mozzarella, Romaine Lettuce and Italian Vinaigrette. Served on Foccacia.</p>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Meatball Panino</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Meatballs, Marinara Sauce, Mozzarella Cheese. Served on Foccacia.</p>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New!</b> Prosciutto & Fig</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Prosciutto, Fresh Pear, Fig & Marscapone Spread, Arugula, EVOO, Salt & Pepper.</p>
      </div>
    
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New!</b> Crispy Chicken Parmesean</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Two pieces of our fried Crispy Chicken tenders, home-made Marinara, and Provolone Cheese.</p>  
      </div>
        
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Smoked Turkey</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Smoked Turkey, Provolone, Cucumber, Tomatoes, Italian Vinaigrette. Served on Foccacia.</p>  
      </div>
      
      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Tuscan Turkey</h3>
        <p class="price">$11.50</p>
        <p class="descritpion">Smoked Turkey, Creamy Pesto Sauce, Red Onion, Tomatoes, Fresh Mozzarella, Rosemary. Served on Foccacia.</p>
      </div>

      <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3>Steak Panino</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Thinly-sliced Ribeye Steak, Mushrooms, Mixed Peppers, Onions, Mozzarella Cheese, topped with Bruschetta Tomatoes. Served on Foccacia.</p>
      </div>

       <div class="booyah-box col-10 offset-1">
        <%= image_tag 'SAD.jpeg', class:"image-resize" %>
        <h3><b>New!</b> Buffalo Chicken Caesar Sandwich (Remodeled)</h3>
        <p class="price">$12.50</p>
        <p class="descritpion">Thinly-sliced Ribeye Steak, Mushrooms, Mixed Peppers, Onions, Mozzarella Cheese, topped with Bruschetta Tomatoes. Served on Foccacia.</p>
      </div>
    </section>
  

</body>
</html>