/*button {
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  background-color: inherit;
}*/




h4 {
  color: white;
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

/*header {
  font-size: 1.1em;
  height: 40px;
  padding: 10px;
}*/

.container {
  display: flex;
  overflow-x: auto;
  height: calc(100% - 80px);
}

.container > * {
  flex: 0 0 auto;
  margin-left: -25px;
}

.appetizers {
  margin-left: 25px;
}

.item-name {
  color: #000;
  font-weight: normal;
  display: inline;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  left: 125px;


}

.item-price {
  color: #eb212e;
  font-weight: bold;
  display: inline;
  float: left;
  padding-left: 10px;
  line-height: 23px; 
  position: relative;
  left: 125px;
}

h3 {

  text-transform: uppercase;

}

.price {
  color: #eb212e;
  display: inline;
}

.item-desc {
  
  color: #000;
  margin-bottom: 20px;
  margin-top: -60px;
  display: inline;
  position: relative;
  left: 125px;
display: block; padding-left: 2px; padding-right: 2px; border: none;

}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
 background: image_url('greek-vase.png'); 
}

.alert { 
  margin-bottom: 0;
}

.image-resize {
  width: 30%;
  height: 80px;
  position: relative;
  top: 0px;
  float: left;


}

.appetizers {
  padding: 20px;
}

.menu-list {
  text-align: center;
  background: none;
}



.modal-button {
  padding: .5rem;
  color: black;
  border: none;
  cursor: pointer;
  background-color: gray; 
  position: flex;
}

.app-link {
  color: #b03030;
  text-decoration: none;
  font-size: 30px;
}

a.app-link:link {
   color: #b03030;
   text-decoration: none;
}

a.app-link:visited {
   color: #b03030;
   text-decoration: none;
}

a.app-link:hover {
   color: #b03030;
   text-decoration: none;
}

a.app-link:active {
   color: #b03030;
   text-decoration: none;
}

.follow {
  position: fixed;
  color: #eb212e;
  text-decoration: none;
}

.follow:hover {
  color: #eb212e;
}

.upgrade {
  color: #eb212e;
}

.page_announcement {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  line-height: 26px;
  padding-top: 10px;
  background: #0000;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

.col-xs-9 {
  width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.disclaimer {
  font-size: 11px;
  margin: 5px 0;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
  text-transform: uppercase;
}

.menu_boiler {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  color: #777
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.bg-modal-francaise {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-super-food-pasta {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-kale {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-pomodoro {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-supremo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}


.bg-modal-primavera {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-creamy {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-rustico {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-valducci {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-bolognese {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-puglia {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-limone {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-italian {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-spaghetti {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-chipotle {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-garlic {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-martini {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-spicy {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-parmesean {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-pesto {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-roasted {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-stuffed {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-fettuccine {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-three {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-cajun {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-shrimp {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.bg-modal-great {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.bg-modal-lasagna {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  
}

.center {
  width: 150px;
  height: auto;
}

.description {
  text-align: left;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem;
}

.close-fran {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-super {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-kale {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}



.close-zoo {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-pomodoro {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-supremo {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}


.close-primavera {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-creamy {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-rustico {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-valducci {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-bolognese {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-puglia {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-limone {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-italian {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-spaghetti {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-chipotle {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-garlic {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-martini {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-spicy {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
  cursor: pointer;
}

.close-parmesean {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-pesto {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-roasted {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-stuffed {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-fettuccine {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-three {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-cajun {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-shrimp {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-great {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

.close-lasagna {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg); 
}

/*.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}*/

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}*/

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header {
  background-image: ('public/spaghetti.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10,10,10,0.3);
  background: #7f0000;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 5px;
}

li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none !important;
  text-align: right;
}
/*
.cart-button {
  text-align: right;
}*/

.button {
  background: #7f0000;
  color: #fff;
  text-align: left; 
}

.left {
  text-align: left;
  padding-right: 90px;
}